body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

.moovie-item {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 900;
}

.moovie-item p {
  margin: 0;
  padding-left: 10px;

  font-weight: 400;
}

.year-title {
  padding-left: 40px;
}
